<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>My Chat</title>
    <link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css"/>
  </head>
  <body>
    <div id="body">
      <div id="inbox">
        {% for message in messages %}
          {% module Template("message.html", message=message) %}
        {% end %}
      </div>
	  {% if not user %}
	    <p>{% raw content %}</p>
		  <form action="/login" method="get">
		  <input type="hidden" name="start_direct_auth" value="1"/>
		  <input type="text" name="name" placeholder="Your Name"/>
		  <input type="text" name="email" placeholder="Your Email"/>
		  <input type="submit" value="Sign in">
		  </form>
	  {% end %}
	  {% if user %}
	  <p>User: {% raw user %}&nbsp&nbsp&nbsp&nbsp&nbsp type: "to_bot:help"</p>
      <div id="input">
        <form action="/a/message/new" method="post" id="messageform">
		<input type="hidden" name="user1" value={% raw user %}>
          <table>
            <tr>
              <td><input name="body" id="message" style="width:500px"/></td>
              <td style="padding-left:5px">
                <input type="submit" value="{{ _("Post") }}"/>
                <input type="hidden" name="next" value="{{ request.path }}"/>
                {% module xsrf_form_html() %}
              </td>
		</form>
			  <td style="padding-left:5px">
			    <form action="/" method="get">
				<input type="submit" value="Log Out">
			    </form>
			  </td>
            </tr>
          </table>
        
      </div>
	  {% end %}
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>
    <script src="{{ static_url("chat.js") }}" type="text/javascript"></script>
  </body>
</html>